
<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-gears"></i> Ability</h2>
                
                <div class="item">
                    <span class="expertise-title"><a href="http://github.com/tejjsho">I am familiar with programming</a></span> - 
                    <span class="expertise-tagline">I have worked in the following languages privately, while working or during my education: C, Python, Java, Visual Basic for Application, HTML, JavaScript, CSS and Haskell.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank">I have a large interest in technology and engineering</a></span> - 
                    <span class="expertise-tagline">I have studied technology oriented education since upper secondary school and I plan to further deepen my knowledge in engineering.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://verifier.cambridgeenglish.org/" target="_blank">My English is decent</a></span> - 
                    <span class="expertise-tagline">I studied at an international upper secondary school where half of my classes were in English. I also got a Cambridge Advanced English (CAE) certificate. Moreover I have also socialized with a lot of people from all over the world online for years.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://en.wikipedia.org/wiki/Lifelong_learning" target="_blank">I want to keep learning</a></span> - 
                    <span class="expertise-tagline">The developments in technology and science are happening fast and I believe it is important (and more interesting) to keep up with it. Hence why I believe learning is a life-long process. </span>
                </div><!--//item-->
</section><!--//section-->