

<section class="section projects-section">
                <h4 class="section-title"><i class="fa fa-gears"></i> Ability</h4>
                <!---->
                <div class="item">
                    <span class="expertise-title"><a href="http://github.com/tejjsho">Familiar with programming</a></span> - 
                    <span class="expertise-tagline">C, Python, Java, Visual Basic for App., HTML, JavaScript, CSS and Haskell.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank">Technical background</a></span> - 
                    <span class="expertise-tagline">Big fan of linux environment. I plan to further my knowledge in engineering and neuroscience.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://verifier.cambridgeenglish.org/" target="_blank">Good English</a></span> - 
                    <span class="expertise-tagline">Studied at an international upper secondary school and Advanced English (CAE) certificate.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://en.wikipedia.org/wiki/Lifelong_learning" target="_blank">Always keen to learn</a></span> - 
                    <span class="expertise-tagline">Fast developments in medtech field requires me to be up to date. Learning is a life-long process. </span>
                </div><!--//item-->
</section><!--//section-->
<style>
    .expertise-title {font-size:14px}
    .expertise-tagline {font-size:14px}
    .item {margin-top:-2px}
    .section-title {margin-bottom:-0px}
</style>