<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i> Education</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title"><b>Bachelor of Engineering, Biomedical Engineering</b> (currently ongoing)</h4>
                            <div class="time">2019-2022</div>
                        </div><!--//upper-row-->
                        <div class="company">Uppsala University, Uppsala</div>
                    </div><!--//meta-->
                    <div></div>
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title"><b>Bachelor of Engineering, Information Technology</b> (currently ongoing)</h4>
                            <div class="time">2015-2022</div>
                        </div><!--//upper-row-->
                        <div class="company">Uppsala University, Uppsala</div>
                    </div><!--//meta-->
                    <div></div>
                    <div class="details">
                        <p>From the Master's Programme in Computer and Information Engineering. Only have one course left which I will take sometime before 2022.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title"><b>Students' degree (studentexamen), Technology with focus on information and media technology</b></h4>
                            <div class="time">2012-2015</div>
                        </div><!--//upper-row-->
                        <div class="company">International IT College of Sweden, Stockholm</div>
                    </div><!--//meta-->
                    <div></div>
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->