<section class="section experiences-section">
                <h4 class="section-title"><i class="fa fa-briefcase"></i> Professional Experience</h4>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title" style="font-style: italic; font-size:15.5px;">Biomedical Engineer</h4>
                            <div class="time">2022 - Now</div>
                        </div><!--//upper-row-->
                        <div class="company">Östersunds Hospital, Östersund</div>
                    </div><!--//meta-->
                    <div>Biomedical engineer dept, physiology team</div>
                    <div class="details">
                        <p>Maintenance of medical equipment and systems as well as other tasks.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title" style="font-style: italic; font-size:15.5px;">Hospital Engineer Internship</h4>
                            <div class="time">2021</div>
                        </div><!--//upper-row-->
                        <div class="company">Akademiska Hospital, Uppsala</div>
                    </div><!--//meta-->
                    <div>Biomedical engineer dept</div>
                    <div class="details">
                        <p>Assisting hospital engineer teams in their work, 5 weeks.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title" style="font-style: italic; font-size:15.5px;">Summer Internship</h4>
                            <div class="time">2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Configuration Management, mostly documentation. Also updated software.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title" style="font-style: italic; font-size:15.5px;">Summer Internship</h4>
                            <div class="time">2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Reviewing electrical components using datasheets, updating database and more.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title" style="font-style: italic; font-size:15.5px;">Summer Internship</h4>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Made a script tool with simple graphical interface to aid co-workers in transferring  PCB with electrical components (data) from excel to a database structure. This was when I was introduced into using Visual Basic for Applications.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h4 class="job-title" style="font-style: italic; font-size:15.5px;">Summer Internship</h4>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Most of the work was to look up PCBs and electrical components that was not in the database or missing documentation or other faults. A survey that laid the foundation for a migration to new database and gave insight of how a component database may work.</p>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->

<style>
    .expertise-title {font-size:14px}
    .expertise-tagline {font-size:14px}
    .item {margin-top:-2px}
    .section-title {margin-bottom:-0px}
    .job-title {margin-bottom: -5px;}
</style>