<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i> Professional Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Internship</h3>
                            <div class="time">2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Configuration Management, mostly documentation. Also updated software.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Internship</h3>
                            <div class="time">2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Reviewing electrical components using datasheets, updating database and more.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Internship</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Made a script tool with simple graphical interface to aid co-workers in transferring  PCB with electrical components (data) from excel to a database structure. This was when I was introduced into using Visual Basic for Applications.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Internship</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlas Copco, Sickla</div>
                    </div><!--//meta-->
                    <div>R&D, Hardware Engineering</div>
                    <div class="details">
                        <p>Most of the work was to look up PCBs and electrical components that was not in the database or missing documentation or other faults. A survey that laid the foundation for a migration to new database and gave insight of how a component database may work.</p>
                    </div><!--//details-->
                </div><!--//item-->
</section><!--//section-->