<section class="section summary-section">
<h2><i class="fa fa-compass"></i> Ambitions</h2>
<div class="summary">
    <p>
        My current path right now is to continue with my education and get a bachelor degree in biomedical engineering. 
        Since I studied (and still am) IT I will get a bachelor degree in technology (teknik) concurrent to my biomedical studies. 
        From there I will either apply to a master in biomedical engineering for example at Chalmers University of Technology, or if there is a similar alternative in Uppsala. Or work for a while in between. 
        After that I am looking into what my alternatives are for a doctorate in the same field.
    </p>
    <br>
    <p>
        I also might try go more towards teaching in technology or engineering subjects or in some way take part in education that is not my own.
    </p>
</div>
</section><!--//section-->