<div class="languages-container container-block">
<h2 class="container-block-title"><i class="fa fa-language"></i> Languages</h2>
<ul class="list-unstyled interests-list">
    <li>Swedish <span class="lang-desc">(Native)</span></li>
    <li>English <span class="lang-desc">(Professional working proficiency)</span></li>
    <li>Japanese <span class="lang-desc">(Beginner)</span></li>
    <li>Mandarin <span class="lang-desc">(Beginner)</span></li>
    <li>Spanish <span class="lang-desc">(Beginner)</span></li>
</ul>
</div><!--//interests-->