<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-gears"></i> Nyckelkompetenser</h2>
                
                <div class="item">
                    <span class="expertise-title"><a href="https://teodorcarlsson.github.io/work/" target="_blank"> Självgående</a></span> - 
                    <span class="expertise-tagline">Men jobbar gärna i grupp. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://teodorcarlsson.github.io/" target="_blank"> Snabblärd samt hardworking </a></span> - 
                    <span class="expertise-tagline">"I am sure you will make it my friend. You are one of my brightest, most consistent, hard-working, and keen to learn friends" - T.N.; "Du lär dig [systemet] så himla snabbt" - M.B.; "Keep this [work/drive] up and you'll get far" R.K. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank"> Noggrann </a></span> - 
                    <span class="expertise-tagline">Krävs som sekreterare vid bokföring och hantering av mötesprotokoll. Även när man läser noter under spelningar framför publik och under press krävs viss koncentration och noggranhet. Som IT administratör för tupplurarnas hemsida krävs viss noggrannhet vid hantering av användare och sidans underhåll.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="https://www.tupplurarna.se/" target="_blank"> Teknikintresserad och driven </a></span> - 
                    <span class="expertise-tagline">Tenderar att sökt jobb hos organisationer som helloworld.se (non-profit programmerings-kollo för barn), ångström makerspace (3Dprinter-community för studenter) och styrelsepost i studentorkester (non-profit förening). Går även på lokala event och workshops, tex som kvällskurser i mikrodatorprogrammering och self-monitorering meetups. Som värst var jag med i fem studentorkestrar samtidigt.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://sv.wiktionary.org/wiki/serviceyrke" target="_blank"> Har märkt att det ger mig glädje och driv att jobba i service åt andra </a></span> - 
                    <span class="expertise-tagline">Exempelvis delar jag mina anteckingar med studenter från mitt program och får extra energi av att skriva extra utförligt när jag vet att de kan läsas av och hjälpa andra. Såg en äldre dam i 80 års åldern själv bära bildäck. Vänder om och hjälper lyfta tills personlig assistent anländer. Var först ut att hjälpa en man som fastnat med skidorna på ett sätt med mycket smärta och potentiellt kunnat skada knälederna ordentligt. Bland annat därför jag strävar mot att jobba inom vården.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="https://www.uu.se/utbildning/utbildningar/selma/kurser/?kKod=1TD433&typ=1" target="_blank">Tar i när det behövs </a></span> - 
                    <span class="expertise-tagline">Som lärarassistent satt jag frivilligt med studenter utanför lektionstid/arbetstid så att alla fick chans att få hjälp. På jobbet blev det en del övertid på slutet för att det skulle bli ett schysst avslut och överlämning innan jag slutade. </span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="https://teodorcarlsson.github.io/" target="_blank">Duktig lyssnare och lyhörd</a></span> - 
                    <span class="expertise-tagline">Är ofta den som svarar på lärarens frågor i Zoom och ställer själv frågor.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="http://github.com/tejjsho">Jag kan lite programmering</a></span> - 
                    <span class="expertise-tagline">Har arbetat i Python, Matlab, C, Java, Visual Basic, HTML JavaScript CSS och Haskell. Första två är mina främsta. Har även gått en introkurs i maskininlärning. Se vilka kurser jag gått under 'courses' eller bifogat.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="https://www.emotibit.com/">Stor datorvana och i varierande mjukvara</a></span> - 
                    <span class="expertise-tagline">Allt från bildredigeringsprogram till datavisualisering och verktyg som organiserar upp livet. Typexepmpel är Trello(kanban to-do listor), Notion(all-in-one workspace program), LaTeX(textformaterare) och att jag föredrar linux och gillar open source konceptet. En av mina senaste projekt är att lära mig CAD och emotibit(mikrodator-biometri-sensor).</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://verifier.cambridgeenglish.org/" target="_blank">Min engelska är bra och är språkintresserad</a></span> - 
                    <span class="expertise-tagline">Gick på internationellt gymnasium där hälften av undervisningen var på engelska, fått Cambridge Advanced English (CAE) certifikat. Har socialiserat mig väldigt mycket med människor från alla världens hörn online. Har 15 HP i japanska och planer att lära mig mandarin och/eller franska. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://en.wikipedia.org/wiki/Lifelong_learning" target="_blank">Jag vill alltid lära mig mer och vara den som förstår saker och inte bara 'gör'</a></span> - 
                    <span class="expertise-tagline">Utvecklingen sker väldigt fort, hela tiden förändringar. Jag tror det är viktigt med kontinuerlig kompetensutveckling och anpassningsbarhet, speciellt i dagens (och framtidens) dynamiska arbetsvärld. Att lära sig livet ut. Jag har så otroligt mycket kvar jag vill lära mig. </span>
                </div><!--//item-->

</section><!--//section-->