<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-gears"></i> Nyckelkompetenser</h2>
                
                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank"> Är självgående</a></span> - 
                    <span class="expertise-tagline"></span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank"> Snabblärd samt hardworking (markus, lifian)</a></span> - 
                    <span class="expertise-tagline"></span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank"> Noggrann (sekreterare bokföring, läsa noter)</a></span> - 
                    <span class="expertise-tagline"></span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank"> Gillar att förklara saker. Tycker t.ex. om rollen som lärarassistent. </a></span> - 
                    <span class="expertise-tagline"></span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank"> Teknikintresserad och driven </a></span> - 
                    <span class="expertise-tagline">Tenderar att sökt jobb hos organisationer som helloworld.se (non-profit programmerings-kollo för barn), ångström makerspace (3Dprinter-community för studenter) och styrelsepost i studentorkester (non-profit förening). Går även på lokala event och workshops, tex som kvällskurser i mikrodatorprogrammering eller self-monitoreriring.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank"> Det ger mig glädje och driv att jobba i service åt andra </a>Exempelvis delar jag mina anteckingar med studenter från mitt program och får extra energi av att skriva extra utförligt när jag vet att de kan läsas av och hjälpa andra. Såg en äldre dam i 80 års åldern själv bära bildäck. Vänder om och hjälper lyfta tills personlig assistent anländer. Var först ut att hjälpa en man som fastnat med skidorna på ett sätt med mycket smärta och potentiellt kunnat skada knälederna ordentligt.</span> - 
                    <span class="expertise-tagline"></span>
                </div><!--//item-->
                

                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank">Tar i när det behövs </a></span> - 
                    <span class="expertise-tagline">Som lärarstudent satt jag frivilligt med studenter utanför lektionstid så att alla fick chans att få hjälp. </span>
                </div><!--//item-->
                
                
                <div class="item">
                    <span class="expertise-title"><a href="https://www.reddit.com/r/BiomedicalEngineers/" target="_blank">Duktig lyssnare och lyhörd</a></span> - 
                    <span class="expertise-tagline"></span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="http://github.com/tejjsho">Jag kan programmering</a></span> - 
                    <span class="expertise-tagline">Har arbetat i Python, Matlab, C, Java, Visual Basic, HTML JavaScript CSS och Haskell. Första två är mina främsta. Har även gått en kurs i maskininlärning.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="expertise-title"><a href="http://github.com/tejjsho">Stor datorvana och i varierande mjukvara</a></span> - 
                    <span class="expertise-tagline">Har använt många olika program. Allt från bildredigeringsprogram till datavisualisering och verktyg som organiserar upp livet. Typexepmpel är att jag sitter mycket i linux och gillar open source konceptet. En av mina senaste utmaningar är att lära mig CAD.</span>
                </div><!--//item-->


                <div class="item">
                    <span class="expertise-title"><a href="https://verifier.cambridgeenglish.org/" target="_blank">Min engelska är bra och är språkintresserad</a></span> - 
                    <span class="expertise-tagline">Gick på internationellt gymnasium där hälften av undervisningen var på engelska, fått Cambridge Advanced English (CAE) certifikat. Har socialiserat mig väldigt mycket med människor från alla världens hörn online. Har 15 HP i japanska och planer att lära mig mandarin och/eller franska. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="expertise-title"><a href="https://en.wikipedia.org/wiki/Lifelong_learning" target="_blank">Jag vill alltid lära mig mer och vara den som förstår saker och inte bara 'gör'</a></span> - 
                    <span class="expertise-tagline">Utvecklingen sker väldigt fort och jag tror det är viktigt med kontinuerlig kompetensutveckling. Livet ut. </span>
                </div><!--//item-->

</section><!--//section-->