<section class="section summary-section">
<h2><i class="fa fa-compass"></i> Målsättning</h2>
<div class="summary">
    <p>
        Det jag önskar få ut av anställningen är<br>
        <ul>
        <li> Erhålla mer erfarenhet inom den medicintekniska branschen, praktiskt tillämpning av min utbildning och möjlighet för teoretiska fördjupningar</li>
        <li> Potentiellt få möjlighet att utveckla mig mer inom signalering av olika slag, rikta in mig mer mot klinisk fysiologi/neurofysiologi och att eventuellt kombinera IT och medicinsk teknik</li>
        <li> Förstå och få en känsla för hur den svenska sjukvårdsapparaten fungerar inklusive de varierande rollerna för MTI:er</li>
        <li> Personlig utveckling</li>
        <li> Kompetensutveckling</li>
        </ul>
        Det jag kan erbjuda företaget<br>
        <ul>
            <li> Min utbildningsbakgrund kan potentiellt ge möjlighet att fylla flera olika roller efter behov. Sjukhuset har fler ansvarsområden inom avdelningen för medicinsk teknik och kanske kan IT/MedTek kombinationen ge möjlihet för tjänst med inriktning endast IT, eller med mer inriktning på medicinsk teknik, eller en som kombinerar båda.</li>
            <li>En driven och engagerad kollega :)</li>
        </ul>
        
        Min ambition och långsiktiga mål är att en dag få jobba med klinisk (neuro)fysiologi och vet att det finns ett antal olika vägar dit. Men att jobba som medicinteknisk ingenjör känns som det naturliga första steget. 
    </p>
</div>
</section><!--//section-->